.team {
    font-family: $robotoCondesed;
    color: #4d4d4d;
    padding: 80px 0;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    &__title {
        font-size: 30px;
        line-height: 27px;
        text-transform: uppercase;
    }

    &__inner {
        display: flex;
        align-items: start;
        gap: 20px;
    }

    &__name {
        font-size: 16px;
        line-height: 20px;
        margin-top: 10px;
    }

    &__description {
        font-family: $vollkorn;
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 8px;
    }

    &__social-list{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

@media (max-width: 850px) {
    .team{
        &__content{
            flex-direction: column;
            gap: 50px;
        }

        &__inner{
            align-self: center;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

@media (max-width: 720px) {
    .team__inner{
        gap: 60px;
    }
}
