@import '_vars';
@import '_reset';
@import '_mixing';
@import '_header';
@import '_stages';
@import '_design';
@import '_team';
@import '_testimonials';

.container{
    max-width: 960px;
    padding: 0 10px;
    margin: 0 auto;
}

.lock{
    overflow: hidden;
}
